.contacts-iner {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.contacts-wreapper {
  display: flex;
  column-gap: 104px;
}

.contacts__text {
  font-size: 18px;
  line-height: 25px;
  color: #121212;
}

.phone-number {
  position: relative;
  padding-top: 32px;
}

.phone-number__text {
  letter-spacing: -0.016em;
}

.mail {
  padding-top: 30px;
}

.phone-number__text,
.contacts__link {
  font-size: 60px;
  line-height: 60px;
  color: #121212;
  text-decoration: none;
}

.phone-number::before,
.mail::before {
  content: "";
  position: absolute;
  background-size: cover;
}

.phone-number::before {
  margin-top: -48px;
  margin-left: -5px;
  width: 22px;
  height: 22px;
  background-image: url(../resources/mobail.png);
}

.mail::before {
  margin-top: -42px;
  margin-left: 3px;
  width: 20px;
  height: 16px;
  background-image: url(../resources/mail.png);
}

@media (max-width: 1199px) {
  .contacts-iner {
    row-gap: 41px;
  }
  .contacts-wreapper {
    column-gap: 113px;
  }

  .phone-number__text,
  .contacts__link {
    font-size: 45px;
    line-height: 60px;
  }
}

@media (max-width: 767px) {
  .contacts-iner {
    row-gap: 26px;
  }

  .contacts__text {
    font-size: 14px;
    line-height: 20px;
  }

  .contacts-wreapper {
    flex-direction: column;
    row-gap: 28px;
  }

  .phone-number__text,
  .contacts__link {
    font-size: 35px;
    line-height: 46px;
  }
  .phone-number::before {
    margin-top: -39px;
    margin-left: -4px;
    width: 17px;
    height: 20px;
  }

  .mail::before {
    margin-top: -35px;
    margin-left: 2px;
    width: 15px;
    height: 12px;
  }
}
