.review-subtitle {
  margin-bottom: 14px;
  font-size: 45px;
  line-height: 61px;
}

.reviews-wrapper {
  margin-top: 29px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 80px;
}

.review {
  width: calc(50% - 25px);
}

.review:last-child:nth-child(2n + 1) {
  width: 75%;
}

.review-box {
  width: 100%;
}

.review__text {
  width: 100%;
  font-size: 22px;
  line-height: 30px;
}

@media (max-width: 1199px) {
  .review-subtitle {
    margin-bottom: 25px;
    font-size: 35px;
    line-height: 48px;
  }

  .reviews-wrapper {
    margin-top: 35px;
    row-gap: 48px;
  }

  .review__text {
    font-size: 20px;
    line-height: 27px;
  }

  .col {
    width: calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .review-subtitle {
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 34px;
  }

  .review__text {
    font-size: 16px;
    line-height: 22px;
  }

  .col {
    margin-bottom: 80px;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .reviews-wrapper {
    margin-top: 24px;
    row-gap: 76px;
  }

  .review:last-child:nth-child(2n + 1) {
    width: 100%;
  }

  .review {
    width: 100%;
  }
}
